### Tuples

Outline:
1. Introduction to Tuples
2. Creating Tuples
3. Accessing Tuple Elements
4. Tuple Operations
5. Immutable Nature of Tuples
6. Tuple Methods
7. Packing and Unpacking Tuples
8. Nested Tuples
9. Practice Examples

### Introduction to Tuples
Tuples are order collection of items that are immutable. They are similar to lists, but their immutability makes them different

### Creating Tuple

In [3]:
empty_tuple = ()
print(type(empty_tuple))

tpl = tuple()
print(type(tpl))

<class 'tuple'>
<class 'tuple'>

In [1]:
numbers = tuple([1,2,3,4,5,6])
numbers

(1, 2, 3, 4, 5, 6)

In [2]:
mixed_tuple = (1, "Hello", 3.14)
mixed_tuple

(1, 'Hello', 3.14)

### Accessing Tuple Elements

In [3]:
numbers

(1, 2, 3, 4, 5, 6)

In [4]:

numbers[0]

1

In [5]:
numbers[-1]

6

In [6]:
## Slicing
numbers[0:4]

(1, 2, 3, 4)

### Tuple Operations

In [7]:
numbers

(1, 2, 3, 4, 5, 6)

In [8]:
mixed_tuple

(1, 'Hello', 3.14)

In [9]:
concatentated_tuple = numbers + mixed_tuple
concatentated_tuple

(1, 2, 3, 4, 5, 6, 1, 'Hello', 3.14)

In [10]:
## Tuple Multiplication with 3
numbers * 3

(1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6, 1, 2, 3, 4, 5, 6)

In [11]:
## Count the numbers of specific item
numbers.count(1)

1

In [12]:

## Index of an Element
numbers.index(3)

2

## Immutable Nature of Tuples

In [13]:
mixed_tuple[1] = "Rahul"

TypeError: 'tuple' object does not support item assignment

### Packing and Unpacking Tuples

In [14]:
## Packing Tuple
packed_tuple = 1, "Hello", 3.14
print(packed_tuple)
print(type(packed_tuple))

(1, 'Hello', 3.14)
<class 'tuple'>

In [15]:
## Unpacking Tuple
a, b, c = packed_tuple
print(a)
print(b)
print(c)

1
Hello
3.14

In [17]:
## Unpacking with *
numbers = (1, 2, 3, 4, 5, 6)
first, *middle, last = numbers
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

### Nested Tuple

In [18]:
tuple_in_list = [[1, 2, 3, 4], [5, 6, 7, 8], (1, "Hello", 3.14, "c")]
tuple_in_list[2][0:3]

(1, 'Hello', 3.14)

In [19]:
nested_tuple = ((1, 2, 3), ("a", "b", "c"), (True, False))
print(nested_tuple[0])
print(nested_tuple[1][2])

(1, 2, 3)
c

In [20]:
## Iterating over nested tuple
for sub_tuple in nested_tuple:
    for item in sub_tuple:
        print(item, end=" ")
    print()

1 2 3
a b c
True False