### Dictionaries
Dictionaries are unordered collection of items. They store data in key-value pairs. Keys must be unique and immutable (e.g., strings, numbers or tuples), while values can be of any type

Outline

* Introduction to Dictionaries
* Creating Dictionaries
* Accessing Dictionary Elements
* Modifying Dictionary Elements
* Dictionary Methods
* Iterating Over Dictionaries
* Nested Dictionaries
* Dictionary Comprehensions
* Practical Examples

### Creating Dictionaries

In [1]:
my_dict = dict()
print(my_dict)
print(type(my_dict))

{}
<class 'dict'>

In [2]:
my_dict = {}
print(my_dict)
print(type(my_dict))

{}
<class 'dict'>

In [3]:
student = {
    "name":  "Saad", "age": 27, "grade": "A"
}

print(student)
print(type(student))

{'name': 'Saad', 'age': 27, 'grade': 'A'}
<class 'dict'>

### Accessing Dictionary Elements

In [4]:
student

{'name': 'Saad', 'age': 27, 'grade': 'A'}

In [5]:
print(student['age'])
print(student['name'])

27
Saad

In [6]:
print(student.get('grade'))
print(student.get('name'))

A
Saad

In [7]:
## If Key is not present
student.get("last_name", "Not Available")

'Not Available'

### Modifying Dictionary Elements

In [8]:
student

{'name': 'Saad', 'age': 27, 'grade': 'A'}

In [9]:
## Adding New Key
student["address"] = "Jaipur"
student

{'name': 'Saad', 'age': 27, 'grade': 'A', 'address': 'Jaipur'}

In [10]:
## Changing the Value of a Key
student['age'] = 28
student

{'name': 'Saad', 'age': 28, 'grade': 'A', 'address': 'Jaipur'}

In [11]:
## Deleting the Key
del student['grade']
student

{'name': 'Saad', 'age': 28, 'address': 'Jaipur'}

### Dictionary Methods

In [12]:
## Getting all the Keys
student.keys()

dict_keys(['name', 'age', 'address'])

In [13]:
## Getting all the Values
student.values()

dict_values(['Saad', 28, 'Jaipur'])

In [14]:
## Getting all Key Value Pairs
student.items()

dict_items([('name', 'Saad'), ('age', 28), ('address', 'Jaipur')])

In [15]:
## Shallow Copy
student_copy = student
print(student)
print(student_copy)

print("\n")

student['age'] = 26
print(student)
print(student_copy)

print("\n")

another_student_copy = student.copy()
student['age'] = 28
print(student)
print(another_student_copy)

{'name': 'Saad', 'age': 28, 'address': 'Jaipur'}
{'name': 'Saad', 'age': 28, 'address': 'Jaipur'}


{'name': 'Saad', 'age': 26, 'address': 'Jaipur'}
{'name': 'Saad', 'age': 26, 'address': 'Jaipur'}


{'name': 'Saad', 'age': 28, 'address': 'Jaipur'}
{'name': 'Saad', 'age': 26, 'address': 'Jaipur'}

### Iterating Over Dictionaries

In [16]:
student

{'name': 'Saad', 'age': 28, 'address': 'Jaipur'}

In [17]:
## Iterating over Keys
for key in student.keys():
    print(key)

name
age
address

In [18]:
## Iterating over Values
for value in student.values():
    print(value)

Saad
28
Jaipur

In [19]:
## Iterate over Key-Value Pairs
for key, value in student.items():
    print(f"{key}: {value}")

name: Saad
age: 28
address: Jaipur

### Nested Dictionaries

In [20]:
marvel = {
    "character1": {"Name": "Ironman", "Weapon": "Suit"},
    "character2": {"Name": "Captain America", "Weapon": "Shield"},
    "character3": {"Name": "Thor", "Weapon": "Storm Breaker"},
}

marvel

{'character1': {'Name': 'Ironman', 'Weapon': 'Suit'},
 'character2': {'Name': 'Captain America', 'Weapon': 'Shield'},
 'character3': {'Name': 'Thor', 'Weapon': 'Storm Breaker'}}

In [21]:
## Accessing Nested Dictionary Element
marvel['character1']['Name']

'Ironman'

In [22]:

## Iterating over Nested Dictionary
for id, info in marvel.items():
    print(id, info)
    for key, value in info.items():
        print(key, value)
    print("\n")

character1 {'Name': 'Ironman', 'Weapon': 'Suit'}
Name Ironman
Weapon Suit


character2 {'Name': 'Captain America', 'Weapon': 'Shield'}
Name Captain America
Weapon Shield


character3 {'Name': 'Thor', 'Weapon': 'Storm Breaker'}
Name Thor
Weapon Storm Breaker

### Dictionary Comprehension

In [23]:
square_dictionary = {x:x**2 for x in range(5)}
square_dictionary

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [24]:
## Conditional Dictionary Comprehension
even_dictionary = {x:x**2 for x in range(10) if x%2 == 0}
even_dictionary

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

### Practical Examples

In [25]:
## Use a dictionary to count the frequency of elements in list
numbers = [1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
frequency = {}

for number in numbers:
    if number in frequency:
        frequency[number] += 1
    else:
        frequency[number] = 1

frequency

{1: 1, 2: 2, 3: 3, 4: 4}

In [26]:
## Merge two dictionaries to one
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

merged_dict = {**dict1, **dict2}
merged_dict

{'a': 1, 'b': 2, 'c': 3, 'd': 4}