### Loops

Outline
1. Introduction to Loops
2. For Loops
   * Iterating over a range
   * Iterating over a string
3. While Loop
4. Loop Control Statements
   * break
   * continue
   * pass
5. Nested Loops
6. Practical Examples

### For Loop

In [1]:
## Iterating over a Range

for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
## Iterating over a Range

for i in range(1, 6):
    print(i)

1
2
3
4
5

In [3]:
## Step parameter in range

for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

In [4]:
## Iterating over a string

name = "Rahul Meena"
for i in name:
    print(i)

R
a
h
u
l

M
e
e
n
a

### While Loop

In [5]:
count = 0
while count < 5:
    print(count)
    count +=1

0
1
2
3
4

### Loop Control Statements

In [6]:
## Break

for i in range(0, 10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

In [7]:
## Continue

for i in range(0, 10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

In [8]:
## Pass

for i in range(0, 10):
    if i == 5:
        pass
    print(i)

0
1
2
3
4
5
6
7
8
9

### Nested Loop

In [9]:
for i in range(3):
    for j in range(2):
        print(f"i: {i} and j: {j}")

i: 0 and j: 0
i: 0 and j: 1
i: 1 and j: 0
i: 1 and j: 1
i: 2 and j: 0
i: 2 and j: 1

### Practical Examples

In [10]:
## Calculate the sum of first N natural numbers using while and for loop

n = 10
sum = 0
count = 1

while count < n:
    sum += count
    count += 1

print(f"Sum of first {n} Natural Numbers is: {sum}")

Sum of first 10 Natural Numbers is: 45

In [11]:
n = 10
sum = 0

for i in range(0, 10):
    sum += i

print(f"Sum of first {n} Natural Numbers is: {sum}")

Sum of first 10 Natural Numbers is: 45

In [12]:
## Prime numbers between 1 and 100

for num in range(1, 101):
    if num > 1:
        for i in range(2, num):
            if num % i == 0:
                break
        else:
            print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97